.form-page-body{
	background-color: #3a3a3a;
}

form {
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	background-color: white;
	/* color: white; */
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	border-radius: 0.5em;
}

form input{
	border: var(--soft-color) solid 1px;
	border-radius: 0.5em;
	padding: 0.2em 0.5em;
}

form input::placeholder{
	opacity: .4;
}

form input:hover {
	border-color: var(--font-gray);
}

form input:focus {
	outline: none;
	border-color: var(--ok-green);
}

form input[type="submit"], form input[type="button"]{
	font-size: 0.9em;
	text-decoration: none;
	border: none;
	border-radius: 0.2em;
	width: fit-content;
	align-self: center;
	color: white;
	padding: 0.2em 0.5em;
}


form input[type="submit"]:hover, form input[type="button"]:hover{
	cursor: pointer;
}

.actions-row{
	padding: 0 2em;
	display: flex;
	justify-content: space-between;
}

form input[type="submit"]{
	background-color: var(--ok-green);
}

form input[type="button"]{
	background-color: var(--error-color);
}

form .form-title {
	text-align: center;
}

form .form-title .username {
	color: var(--ok-green);
}

label{
	display: flex;
	font-size: 0.6em;
	flex-direction: column;
	gap: 0.1em;
}