:scope{
	--PI: 3.14159265358979;
	--gauge-radius: 45px;
	--gauge-lenght: calc(2 * var(--PI) * var(--gauge-radius));
}

.gauge-card{
	text-align: center;
	width: fit-content;
	padding: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gauge-card .title {
	color: var(--font-color);
	width: 100%;
	font-size: 0.8em;
	margin-bottom: 1em;
}

.gauge-card .extra {
	color: var(--font-color);
	width: 100%;
	font-size: 0.8em;
	margin-top: 1em;
}

.gauge{
	width: 7em;
	height: 7em;
	position: relative;
}

.gauge__value{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.2em;
	color: inherit;
}

.gauge__value::after {
	content: '%';
	font-size: 0.6em;
}

.gauge.ok{
	color: var(--ok-green);
	stroke: var(--ok-green);
}

.gauge.warning{
	color: var(--warning-color);
	stroke: var(--warning-color);
}

.gauge.error{
	color: var(--error-color);
	stroke: var(--error-color);
}

.gauge svg{
	width: 100%;
	height: 100%;
	stroke-width: 0.4em;
	stroke-linecap: round;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.gauge svg .circle-shadow{
	stroke: var(--soft-color);
}

.gauge svg .gauge-fill{
	stroke-dasharray: var(--gauge-lenght);
	stroke-dashoffset: var(--gauge-lenght);
	transition: stroke-dashoffset 0.4s;
}