:root {
	--ok-green: #20a53a;
	--warning-color: #ffbf00;
	--error-color: #ce2828;

	--font-color: #999999;
	--button-font: #ffffff;
}

@media (prefers-color-scheme: dark){
	:root{
		--soft-color: #3e3e3e;
		--body-background: #373737;
		--panel-background: #2d2d2d;
	}
} 

@media (prefers-color-scheme: light){
	:root{
		--soft-color: #f0f0f0;
		--body-background: #f2f2f2;
		--panel-background: #ffffff;
	}
}

html {
	color: var(--font-color);
}

body{
	margin: 0;
	background-color: var(--body-background);
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

header{
	top:0;
	right: 0;
	width: 100%;
	margin-bottom: 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a{
	text-decoration: none;
	font-size: 0.7em;
	color: inherit;
}

#system {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	font-size: 0.9em;
}

#os {
	vertical-align: center;
}

#distro-icon {
	height: 1em;
}

#logout-link{
	background-color: var(--error-color);
	color: var(--button-font);
	font-size: 0.9em;
	padding: 0.4em;
	border-radius: 0.2em;
	margin-left: 0.6em;
}

.panel {
	background-color: var(--panel-background);
	border-radius: 1.3em 0 0 0;
	padding: 1em;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.panel-label{
	text-align: right;
	border-bottom: solid var(--soft-color) 1px;
	font-size: 0.9em;
	padding: 0.5em;
}

.panel-body{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 3em;
	justify-content: center;
	padding-bottom: 1em;
}