.plot {
	width: 100%;
	height: 21em;
	/* background-color: var(--soft-color); */
}

.plot g.grid {
	stroke-width: 0.02em;
	stroke: var(--soft-color);
}

.plot g.label {
	fill: var(--font-color);
	font-size: 4px;
}

.plot .series {
	fill: none;
	stroke-width: 0.04em;
}

#recieved {
	stroke: var(--recieved-color);
}

#sent {
	stroke: var(--sent-color);
}

