.gauge-card{
	text-align: center;
	width: fit-content;
	padding: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gauge-card .title {
	color: var(--font-gray);
	width: 100%;
	font-size: 0.8em;
	margin-bottom: 1em;
}

.gauge {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	background: conic-gradient( 
		var(--sucess-green) 0%, var(--soft-color) 0%);
	transition: background 1s ease;
	color: var(--sucess-green);
}

.gauge__center {
	width: calc(100% - 2em);
	height: calc(100% - 2em);
	background-color: #fff;
	border-radius: 50%;
	transform: translate(1em, 1em);
}

.gauge__value{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.2em;
	color: inherit;
}

.gauge__value::after {
	content: '%';
}

.gauge.success{
	color: var(--sucess-green);
}

.gauge.warning{
	color: var(--warning-color);
}

.gauge.error{
	color: var(--error-color);
}