:root {
	--success-green: #20a53a;
	--warning-color: #FF7900;
	--error-color: #ce2828;
	--soft-color: #e5e5e5;
	--font-gray: #999999;
	--accent-color: #488379;
}

body{
	margin: 0;
	background-color: rgb(228, 227, 227);
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
	top:0;
	right: 0;
	width: 100%;
	margin-bottom: 1.5em;
	text-align: right;
}

header a{
	text-decoration: none;
	color: var(--font-gray);
	font-size: 0.7em;
}

#logout-link{
	background-color: var(--error-color);
	color: white;
	font-size: 0.8em;
	padding: 0.4em;
	border-radius: 0.2em;
	margin-left: 0.6em;
}

.panel {
	background-color: white;
	border-radius: 1.3em 0 0 0;
	padding: 1em;
	padding-top: 0;
	text-align: right;
}

.panel__label{
	color: var(--font-gray);
	border-bottom: solid var(--soft-color) 1px;
	font-size: 0.9em;
	padding: 0.5em;
}

.panel__body{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	gap: 3em;
}