:root {
	--sucess-green: #11921c;
	--warning-color: #FF7900;
	--error-color: #ff3333;
	--soft-color: #cacaca;
	--font-gray: #999999;
}

body{
	margin: 0;
	background-color: rgb(228, 227, 227);
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.panel {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 1.3em 0 0 0;
	padding: 0 1em;
}

.panel__label{
	color: var(--font-gray);
	width: fit-content;
	/* background-color: red; */
	transform: rotate(-90deg);
}

.panel__body{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}