<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> @{{ system_info['hostname'] }} | SPeek</title>
	<link rel="icon" type="image/svg+xml" href="/static/img/favicon-ok.svg">
	<!-- <link rel="alternate icon" href="/static/img/logo-32x32.png"> -->
	<link rel="stylesheet" href="/static/css/master.css">
	<link rel="stylesheet" href="/static/css/gauge.css">
	<link rel="stylesheet" href="/static/css/fontello.css">
	<link rel="stylesheet" href="/static/css/fontello.css">
	<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
		integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
		crossorigin="anonymous"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/gauge.js"></script>
</head>

<body>
	<header>
		<div id="system">
			<span id="hostname">@{{ system_info['hostname'] }}</span>
			{% if system_info['operating_system']['type'] == 'Linux' %}
			Runing : <span id="os">
				<i class="icon-{{ system_info['operating_system']['distro']['id'] }}"></i>
				<span id="distro-name"> {{ system_info['operating_system']['distro']['name']}} </span> <span
					id="distro-version">
					{{
					system_info['operating_system']['distro']['version']}} </span>
			</span>
			{% endif %}
		</div>
		</div>

		<div>
			<a href="/change-password">Change password</a>
			<a id='logout-link' href="/logout">Logout</a>
		</div>
	</header>
	<div class="panel">
		<div class="panel-label">Status</div>
		<div class="panel-body">

			<!-- CPU Load Gauge -->
			<div class="gauge-card" id="load">
				<div class="title">Load status</div>
				<div class="gauge ok">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
				<div class="extra"></div>
			</div>

			<!-- CPU Gauge -->
			<div class="gauge-card" id="cpu">
				<div class="title">CPU</div>
				<div class="gauge ok">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
				<div class="extra">{{ system_info['cpu_cores'] }} Core(s) </div>
			</div>

			<!-- RAM Gauge -->
			<div class="gauge-card" id="ram">
				<div class="title">RAM</div>
				<div class="gauge ok">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
				<div class="extra"> <span>0</span>/{{ '%0.1f' % system_info['ram_total'] }}GB </div>
			</div>

			<!-- Swap Gauge -->
			<div class="gauge-card" id="swap">
				<div class="title">Swap</div>
				<div class="gauge ok">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
				<div class="extra"> <span>0</span>/{{ '%0.1f' % system_info['swap_total'] }}GB </div>
			</div>

			<!-- Disk Gauge -->
			<div class="gauge-card" id="disk-root">
				<div class="title">/</div>
				<div class="gauge ok">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
				<div class="extra"> <span>0</span>/{{ '%0.1f' % system_info['disk_total'] }}GB </div>
			</div>

		</div>
	</div>

	<div id="network" class="panel">
		<div class="panel-label">Network</div>
		<table>
			<tr>
				<th> NIC </th>
				<th> Send (kB/s)</th>
				<th> Recieve (kB/s)</th>
			</tr>
			{% for nic in nics %}
			<tr>
				<td> {{ nic }} </td>
				<td id="sent-{{ nic }}"></td>
				<td id="recv-{{ nic }}"></td>
			</tr>
			{% endfor %}
		</table>
	</div>

</body>

</html>