<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/master.css">
	<link rel="stylesheet" href="/static/css/form.css">
	<title>Login | SPeek </title>
</head>

<body class="form-page-body">
	<form method="POST" action="">
		<div class="form-title">Login</div>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="notification error">
			{{ messages[0] }}
		</div>
		{% endif %}
		{% endwith %}

		{{ form.hidden_tag() }}
		<label>Username{{ form.username }}</label>
		<label>Password{{ form.password }}</label>
		{{ form.submit }}
	</form>
</body>

</html>