<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/master.css">
	<link rel="stylesheet" href="/static/css/form.css">
	<title>Change Password | SPeek </title>
</head>

<body class="form-page-body">
	<form method="POST" action="">
		<div class="form-title">Change password for account <span class="username">{{ current_user.username }}</span></div>
		{{ form.hidden_tag() }}
		<label>Current password{{ form.current_password }}</label>
		<label>New password{{ form.new_password }}</label>
		<label>Confirm password{{ form.new_password_confirmation }}</label>
		<div class="actions-row">
			<input class="cancel" type="button" onclick="window.location.href='{{ url_for('dashboard') }}'" value="Cancel">
			{{ form.submit }}
		</div>
	</form>
</body>

</html>