<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard | SPeek</title>
	<link rel="stylesheet" href="/static/css/master.css">
	<link rel="stylesheet" href="/static/css/gauge.css">
	<script src="/static/js/gauge.js"></script>
</head>

<body>
	<header>
		<a href="/change-password">Change password</a>
		<a id='logout-link' href="/logout">Logout</a>
	</header>
	<div class="panel">
		<div class="panel__label">Status</div>
		<div class="panel__body">

			<!-- CPU Load Gauge -->
			<div class="gauge-card" id="load">
				<div class="title">Load status</div>
				<div class="gauge success">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
			</div>

			<!-- CPU Gauge -->
			<div class="gauge-card" id="cpu">
				<div class="title">CPU</div>
				<div class="gauge success">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
			</div>

			<!-- RAM Gauge -->
			<div class="gauge-card" id="ram">
				<div class="title">RAM</div>
				<div class="gauge success">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
			</div>

			<!-- Swap Gauge -->
			<div class="gauge-card" id="swap">
				<div class="title">Swap</div>
				<div class="gauge success">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
			</div>

			<!-- Disk Gauge -->
			<div class="gauge-card" id="disk-root">
				<div class="title">/</div>
				<div class="gauge success">
					<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
						<circle cx="50" cy="50" r="45" fill="none" class="circle-shadow" />
						<circle cx="50" cy="50" r="45" fill="none" class="gauge-fill" transform="rotate(-90 50 50)" />
					</svg>
					<div class="gauge__value">0</div>
				</div>
			</div>

		</div>
	</div>


	<script src="/static/js/main.js"></script>
</body>

</html>